@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* color-scheme: light dark; */
  background-color: #bee0e0;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

::-webkit-scrollbar {
  width: 0.5rem;
  border-radius: 1rem;
  transition: all 0.3s ease-in-out;
}

::-webkit-scrollbar-track {
  background-color: #42c3aa;
  border-radius: 1rem;
}

::-webkit-scrollbar-thumb {
  background-color: #2b4641;
  border-radius: 1rem;
}

::selection {
  color: #fff;
  background: #2b4641;
}
